<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        {{> nav }}
        <h1>{{title}}</h1>
        <hr>
        {{{contents}}}
    </body>
</html>
