nav {
    font-family: sans-serif;
    font-size: 1.25vmax;
    width: 25vmax;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
    background: #1bc2a2;
}

ul > li {
    flex-grow: 1;
}

li > ul {
    display: none;
}

li > a {
    display: block;
    text-align: center;
    padding: 1vmax;
    text-decoration: none;
	white-space: nowrap;
	color: #fff;
    margin: 0;
}

ul li a:hover { background: #2c3e50; }

li:hover{
    position: relative;
}

li:hover > ul {
	  display: block;
      width: 100%;
	  position: absolute;
}

li:hover a { background: #1bc2a2; }

li:hover li a:hover { background: #2c3e50; }

ul ul ul {
	  left: 100%;
	  top: 0;
}
